/* styles.css */


/* Top section with the logo and menu */
.menu {
    display: flex;
    justify-content: flex-start;
}
.menu-item {
    margin:0 10px
}
img[src="download.jpg"] {
    width: 100%;
    max-width: 300px;
}
table {
    max-width: 500px;
    width:100px;
    text-align:right;
}
table td {
    padding:8px;
}
/* targets all <button> elements with the class 'menu-button'*/
.menu button.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
.menu button.menu-button:hover {
    color: lightblue;
}

.context {
    position: relative;
    background-color: rgba(241,235,233,0.65);
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    text-align: center;
    background-color: rgba(241,235,233,0.65);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    max-width: 500px;
    width:100px;
    text-align:right;
}
table td {
    padding:8px;
}
.text-box {
    text-align: center;
    padding: 20px;
}
.person-box {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

