<!-- core/about_us.html -->

{% extends 'core/base.html' %} {% block title %}About Us{% endblock %}
{% block additional_head %}
<!-- Add this line at the beginning -->
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/aboutPageStyles.css' %}"/>
{% endblock %}
{% block content %}
{% load static %}
<div class="context">
    <div class="container">
        <!-- About Text -->
        <div class="content-column">
            <div class="text-box">
                <h1>About Us</h1>
                <p>About Our Project: American Sign Language Fingerspelling Recognition

                    Welcome to our project that has successfully fused computer vision and American Sign Language ASL interpretation! We have developed an intuitive web application capable of recognizing and interpreting ASL fingerspelling gestures captured through a webcam in real-time.
                    
                    At the core of our endeavor lies a computer vision model meticulously trained to recognize the intricate movements of ASL fingerspelling. Leveraging cutting-edge techniques and algorithms, our model seamlessly translates these gestures into accurate text representations. Whether it's communicating vital information, learning ASL, or bridging communication barriers, our application empowers users with enhanced accessibility and inclusivity.
                    
                    Key Features:
                    
                    Real-Time Recognition: Experience instant recognition of ASL fingerspelling gestures directly through your webcam, ensuring fluid and effortless communication.
                    
                    Accuracy and Reliability: Our meticulously crafted model boasts high accuracy and reliability, ensuring precise interpretation of even the most subtle finger movements.
                    
                    User-Friendly Interface: With a clean and intuitive interface, our web application is designed for seamless navigation, ensuring a smooth user experience for individuals of all proficiency levels.
                    
                    Empowering Inclusivity: By bridging the gap between ASL and text, we aim to foster inclusivity and empower individuals with diverse communication needs.
                    
                    Our project represents a convergence of technology and compassion, striving to make the world a more inclusive place for all. Join us on this transformative journey towards a future where communication knows no bounds. </p>
            </div>
        </div>

        <!-- Images Row -->
        <div class="content-column">
            <div class="person-box">
                <img class="person-image developer-image" src="{% static 'core/images/person1.png' %}" alt="Arjun Sharma">
                <div class="person-name">Arjun Sharma</div>
            </div>

            <div class="person-box">
                <img class="person-image developer-image" src="{% static 'core/images/person2.png' %}" alt="Ariana Feng">
                <div class="person-name">Ariana Feng</div>
            </div>

            <div class="person-box">
                <img class="person-image  developer-image" src="{% static 'core/images/person3.png' %}" alt="Naveed">
                <div class="person-name">Naveed</div>
            </div>

            <div class="person-box">
                <img class="person-image  developer-image" src="{% static 'core/images/person4.png' %}" alt="Aiden">
                <div class="person-name">Aiden</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
