<!-- core/about_us.html -->

{% extends 'core/base.html' %} {% block title %}About Us{% endblock %}
{% block additional_head %}
<!-- Add this line at the beginning -->
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'core/styles/aboutPageStyles.css' %}"/>
{% endblock %}
{% block content %}
{% load static %}
<div class="context">
    <div class="container">
        <!-- About Text -->
        <div class="content-column">
            <div class="text-box">
                <h1>About Us</h1>
                <p>This is the about us page content...write more description later</p>
            </div>
        </div>

        <!-- Images Row -->
        <div class="content-column">
            <div class="person-box">
                <img class="person-image developer-image" src="{% static 'core/images/person1.png' %}" alt="Arjun Sharma">
                <div class="person-name">Arjun Sharma</div>
            </div>

            <div class="person-box">
                <img class="person-image developer-image" src="{% static 'core/images/person2.png' %}" alt="Ariana Feng">
                <div class="person-name">Ariana Feng</div>
            </div>

            <div class="person-box">
                <img class="person-image  developer-image" src="{% static 'core/images/person3.png' %}" alt="Naveed">
                <div class="person-name">Naveed</div>
            </div>

            <div class="person-box">
                <img class="person-image  developer-image" src="{% static 'core/images/person4.png' %}" alt="Aiden">
                <div class="person-name">Aiden</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
