<!-- core/contact.html-->

{% extends 'core/base.html' %} {% block title %}Contact{% endblock %}
{% block additional_head %}
<!-- Seperator things-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles/contactPageStyles.css' %}" />
{% endblock %}
{% block content %}
{% load static %}
<div class="context">
    <div class="container">
        <!-- Contact Title -->
        <div class="content-column">
            <div class="text-box">
                <h1>Contact</h1>
                <p>Feel Free to use any of the below methods to contact</p>

                <!-- Contact Row -->
                <div class="contact-row">
                    <a target="_blank" href="https://google.com"><img height="100" width="100" class="contact-image"
                                                                      src="email.png" alt="Email"></a>
                    <a target="_blank" href="https://google.com"><img height="100" width="100" class="contact-image"
                                                                      src="linkedin.png" alt="Linkedin"></a>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>

