{% extends 'core/base.html' %}

{% block title %}Home Page{% endblock %}
{% block additional_head %}
<!-- Add this line at the beginning -->
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles/converterStyles.css' %}"/>
<link rel="stylesheet" href="{% static 'core/styles/styles.css' %}"/>
{% endblock %}

{% block content %}
{% load static %}
<div class="content">

    <div class="webcam">
        <!-- Video and Canvas elements -->
        <video class="video" id="video" autoplay playsinline></video>
        <canvas class="canvas" id="canvas" width="640" height="360"></canvas>

        <!-- Image container with border-radius -->
        <div>
            <img id="client" class="video" src="https://picsum.photos/640/360" alt="Placeholder Image"/>
        </div>

        <!-- Button for mode switching -->
        <div>
            <button class="start-video-button" id="modeButton" onclick="Mode()">Start</button>
        </div>
    </div>

    <div class="text-display">
        <div class="reset">
            <p>Output: </p>
            <button class="reset-button" type="button" onclick="resetTextOutput()">Reset</button>
            <button class="reset-button" type="button" onclick="delLetter()">Delete</button>
        </div>

        <div class="text-box">
            <p id="output-text"></p>
        </div>

        <div class="options">
            <p>?</p>
            <div style="display: none" id="help-menu">
                <p>Click the "Start" button to begin translating ASL to text.</p>
                <p>Click the "Stop" button to stop translating ASL to text.</p>
                <p>Click the "Reset" button to clear the text output.</p>
            </div>


            <img class="options-button" height="48px" width="48px" onclick="togglePopup()"
                 src="{% static 'core/images/threedots.png' %}">
            <!-- Display none has to be here or else you have to click twice to show popup menu -->
            <div style="display: none;" id="popup-menu">
                <button onclick="copyText()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/copy.png' %}"> Copy
                </button>

                <button onclick="textToSpeech()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/text-to-speech.png' %}"> Text To Speech
                </button>

                <button onclick="translate()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/translate.png' %}"> Translate
                </button>

                <button onclick="showGestures()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/gesture.png' %}"> Gestures
                </button>

                <button onclick="save()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/save.png' %}"> Save
                </button>

                <button onclick="showFeedback()">
                    <img class="menu-image" src="{% static 'core/images/popup-menu/feedback.png' %}"> Feedback
                </button>


            </div>
        </div>
    </div>

    <!--todo: add cheat sheet that shows all the available letters with their associated sign. Make sure to include
    special characters such as space and del.-->

</div>
{% endblock %}
