{% extends 'core/base.html' %}

{% block title %}Home Page{% endblock %}
{% block additional_head %}
<!-- Add this line at the beginning -->
{% load static %}
<link rel="stylesheet" href="{% static 'core/styles/converterStyles.css' %}"/>
<link rel="stylesheet" href="{% static 'core/styles/styles.css' %}"/>
{% endblock %}

{% block content %}
{% load static %}
<div class="content">

    <div class="webcam">
        <!-- Video and Canvas elements -->
        <video class="video" id="video" autoplay playsinline></video>
        <canvas class="canvas" id="canvas" width="640" height="360"></canvas>

        <!-- Image container with border-radius -->
        <div>
            <img id="client" class="video" src="https://picsum.photos/640/360" alt="Placeholder Image"/>
        </div>

        <!-- Button for mode switching -->
        <div>
            <button class="start-video-button" id="modeButton" onclick="Mode()">Start</button>
        </div>
    </div>

    <div class="text-display">
        <div class="reset">
            <p>Output: </p>
            <button class="reset-button" type="button" onclick="">Reset</button>
        </div>

        <div class="text-box">
            <p id="output-text"></p>
        </div>

        <div class="copy">
            <img class="copy-button" height="48px" width="48px" src="{% static 'core/images/copy.png' %}" onclick="">
        </div>
    </div>

</div>
{% endblock %}
