@import url('https://fonts.googleapis.com/css2?family=Linden+Hill:ital@0;1&family=M+PLUS+1p:wght@400;800&display=swap');
/* aboutPageStyles.css */
.content {
    background-color: rgba(241, 235, 233, 0.65);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.content:last-child {
    margin-bottom: auto;
}

.webcam {
    position: relative;
    height: 50%;
    width: 50%;
    border-radius: 50px;
    margin-top: 10px;
}

/*.video {*/
/*    width: 0;*/
/*    height: 0;*/
/*    z-index: 1;*/
/*}*/

.canvas {
    position: absolute;
    top: 0;
    height: 91%;
    width: 640px;
    border-radius: 50px;
    z-index: 10;
}

.video {
    position: absolute;
    top: 0;
    border-radius: 50px;
}

.start-video-button {
    position: absolute;
    bottom: 0;

    background: #35BDA5;
    border-radius: 15px;
    border: 2px black solid;

    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: large;

}

.start-video-button:hover {
    background: #45c2c2;
}

.recording-started {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 100%;
    background: red;
    align-self: flex-start;
}

.recorder {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: red;
    margin-bottom: 5px;
}

.text-display {
    width: 80%;
    height: 20%;
    background: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reset {
    margin-left: 30px;
    margin-bottom: 20px;
    flex-basis: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reset > p {
    margin-left: 10px;
    font-size: 1.5em;
    text-decoration: underline;
}

.reset > button {
    background: #35BDA5;
    border-radius: 15px;
    border: 2px black solid;
    width: 100%;
    height: 3em;

    font-family: "M PLUS 1p", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1em;
}


.text-box {
    flex-basis: 80%;
    color: black;
    font-size: 22px;

    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal;

    overflow-y: scroll;
    border-left: 2px black dot-dash;
}


.copy {
    flex-basis: 7%;
    margin-left: 30px;
    margin-bottom: 20px;
    align-self: flex-end;
}